body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  font-size: 1.2em;
}

ul > li {
  margin: 16px 0;
}

ul > li:before {
  content: ">";
  margin-right: 16px;
}

.fullbleed {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}