.Layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.breadcrumbs,
.Main {
  padding: 24px;
}

.breadcrumbs {
  color: white;
  background: black;
}

.breadcrumbs a {
  color: inherit;
  font-weight: bold;
}

.Main {
  flex: 1;
}